h1 {
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    background-color:rgb(236, 236, 236);
    margin:0;
    padding-top:10px;
    padding-bottom:10px;
    font-size:48px;
}

.gameContainer {
    display: flex;
    background-color: rgb(75, 92, 176);
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    height: 650px;
}

.allBtns {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
}

.allBtns button {
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:16px;
    color: black;
    background-color:rgb(236, 236, 236);
    border: 5px solid black;
    border-radius: 5px;
    width: 90px;
    height: 65px;
    margin-bottom:25px;
}

#rangeBox {
    background-color:rgb(236, 236, 236);
    padding: 5px;
    border: 5px solid black;
    border-radius: 5px;
}

label {
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size:18px;
}

p {
    font-family:'Courier New', Courier, monospace;
    font-size:16px;
}

#sketchPad {
    width: 700px;
    height: 700px;
    border: 5px solid black;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    background-color:white;
}

#sketchPad div {
    flex-grow:1;
    display:flex;
    flex-direction: column;
}

/* #sketchPad div div {
    background-color:white;   
} */

#sketchPad div div:hover {
    background-color: black;
}

label, #cell-dimensions {
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
}

.textInput {
    width:50px;
    margin: auto;

}

#textDimensions {
    width: 40px;
    text-align: center;
}

#rangeDisplay {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#inputDescription {
    width: 140px;
    text-align:center;
    margin: auto;
}

.reset {
    background-color: white;
}

