.allBtns {
    display: flex;
    justify-content: space-between;
    height: 50px;
    max-width: 800px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

}

.allBtns button {
    color: black;
    border: 5px solid black;
    border-radius: 5px;
    width: 90px;
}

#sketchPad {
    width: 700px;
    height: 700px;
    border: 5px solid black;
    margin-top: 50px;
    display: flex;
    margin-left:auto;
    margin-right: auto;
}

#sketchPad div {
    flex-grow:1;
    display:flex;
    flex-direction: column;
}

/* #sketchPad div div {
    background-color:white;   
} */

#sketchPad div div:hover {
    background-color: black;
}

label, #cell-dimensions {
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
}

.textInput {
    width: 40px;
    margin: auto;

}

#textDimensions {
    width: 40px;
    text-align: center;
}

#rangeDisplay {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#inputDescription {
    width: 140px;
    text-align:center;
    margin: auto;
}

.reset {
    background-color: white;
}

